@import url(./__iframe/video__iframe.css);
@import url(./__iframes/video__iframes.css);
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto 0px auto;
}
