.footer__column-links {
  margin-bottom: 16px;
  margin-top: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding-left: 0;
}

.footer__column-links a {
  text-decoration: none;
  color: white;
}

.footer__column-links a:hover {
  transition: color .5s linear;
  color: #575757;
}

