.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    background-color: #f2f2f2;
    /* выше установили ограничения для секции */
}

.logo__place_header {
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  z-index: 99;
}


.title {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin: auto;
  width: 730px;
}

.subtitle {

  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-style: normal;
  font-size: 18px;
}

.main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 50;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
}


.description {
  display: flex;
  align-items: center;
  justify-content: center;
}


.two-columns {
  width: 80%;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__paragraph {
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin: 30px 0 0 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title{
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin-bottom: 0;
  justify-content: center;
  display: flex;

}

.section-title_theme_dark {
  color: white;
  z-index: 50;
}

.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0px auto;
  justify-content: center;
  display: flex;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 50;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.table_theme_dark {
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  color: white;
  z-index: 50;
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.table__footnote {
  margin: 20px auto 0px auto;
}

.feinman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 90px;
}

.feinman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  z-index: 99;

}

.feinman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 99;
}

.feinman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  height: 50%;
  right: 48px;
}

.faiman__illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
}
