.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  margin-left: 48px;
  width: 215px;
  height: 40px;
}

.khan__buy-link:hover {
  transition: color .5s linear;
  color: #80b5fa;
}
